

* { 
    box-sizing:  border-box; 
}

body {
    background: black;
}

.main {
    display: inline-block;
    text-align: center;
    width: 90%;
    margin: 5%;
    background: #151517;
}
.wrap {
    width: 40%;
    display: inline-block;
    margin-bottom: 5%;
    vertical-align: top;
}
.title {
    display: inline-block;
    width: 65%;
    color: #a77c4d;
    border-bottom: 3px solid #a77c4d;
}
.list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    min-width: 80%;
}
.list li {
    display: inline-block;
    min-width: 60%;
    border-bottom: 2px solid #a77c4d;
    width: 80%;
}
.todo .list li:hover {
    cursor: pointer;
}
.todo li {
    color: #a77c4d;
}

.done li, .done .title {
    color: #574128;
    border-bottom: 2px solid #574128;
}

.add-new {
    height: 100%;
    padding: 0px;
    border: none;
    color: #a77c4d;
    border-bottom: 2px solid #a77c4d;
    background: #151517;  
}
.add-new-btn {
    border-bottom: 2px solid #a77c4d;
    color: #a77c4d;
    height: 100%;
}
.add-new-btn:hover {
    cursor: pointer;
}